@charset "UTF-8";

/*Global open*/
.hidden{
	display: none;
}

/* General rules - scales images, videos to size of container */
img, embed, object, video {
  max-width: 100%; }


/*switch box model*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit; }

/*Fix for scaling of images IE*/
img {
  -ms-interpolation-mode: bicubic;
}

/*Fonts*/
@font-face {
font-family: 'lustriaregular';
src: url('../fonts/lustria-regular-webfont.eot');
src: url('../fonts/lustria-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/lustria-regular-webfont.woff') format('woff'),
url('../fonts/lustria-regular-webfont.ttf') format('truetype'),
url('../fonts/lustria-regular-webfont.svg#lustriaregular') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'latoregular';
src: url('../fonts/lato-regular-webfont.eot');
src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/lato-regular-webfont.woff') format('woff'),
url('../fonts/lato-regular-webfont.ttf') format('truetype'),
url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
font-weight: normal;
font-style: normal;
}

body{
	font-family: 'latoregular', Helvetica, Arial, sans-serif;
  background-color: #E9E9E9 ;
}

a{
  font-family: 'latoregular', Helvetica, Arial, sans-serif;
  text-decoration: none;
}

*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.team-section{
  over-flow: hidden;
  text-align: center;
  background: #34495e;
  padding: 60px;
}

.team-section h1{
  text-transform: uppercase;
  margin-bottom: 60px;
  color: #3498db;
  font-size: 40px;

}

.team-section p{
  color: white;
  font-size: 20px;
  width: 50em;
  line-height: 25px;
  margin: auto;
  padding-bottom: 20px;

}

.border{
  display: block;
  margin: auto;
  width: 160px;
  height: 3px;
  background: #3498db;
  margin-bottom: 40px;
}

.ps{
  margin-bttom: 40px;
}

.ps a{
  display: inline-block;
  margin: 0 30px;
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 50%;
}

.ps a img{
  width: 100%;
  filter: none;
  tansition: 0.4s all;
}
.ps a:hover > img {
  filter: grayscale(100);
}

.section{
  width: 600px;
  margin: auto;
  font-size: 20px;
  color: black;
  text-align: justify;
  height: 0;
  overflow: hidden;
}

.section p{
  padding-bottom: 40px;
  line-height: 25px;
}

.section:target{
  height: auto;
}
.name{
  display: block;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
}
